@import "@sc/portal.fe.lib.global-styles/src/_globals.scss";

$mobile-main-content-padding: map-get($spacers, 1);
$desktop-main-content-padding: map-get($spacers, 2);

$card-shadow: 0px 0px 20px 1px rgba(0, 28, 51, 0.15);
$card-shadow-hover: 0px 0px 20px 10px rgba(0, 28, 51, 0.15)
